html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#banner {
    width: 100%;
    height: 20%;
    background-image: linear-gradient(to right, black, yellow, black);
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
.tabcontent {
    min-height: 460px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}
#dpu, #diagram_a, #diagram_b {
    height: fit-content;
}
#left, #right {
    width: 50%;
    height: 400px;
    float: left;
}
#left img {
    height: 312px;
}
#page-select {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 100%;
    border-radius: 20px;
}
#page-select button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transform: 0.3s;
    border-radius: 20px;
}
#page-select button:hover {
    background-color: #ddd;
}
#page-select button.active {
    background-color: #ccc;
}
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    animation: fadeEffect 1s;
}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
body {
    background-image: linear-gradient(to right, gray, beige, gray)  ;
}
body * {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div {
    float: left;
}
footer {
    height: 15%;
    float: left;
    width: 100%;
    background-image: linear-gradient(to right, blue, red, yellow);
    text-align: right;
    font-size: larger;
}
footer p {
    margin-right: 20px;
}
footer a {
    text-decoration: none;
}
#cool {
    width: 80%;
}